.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Poppins, sans-serif;
  color: #596065;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #47B1B8;
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.section-hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 800px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/bg-website.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.heading-main {
  color: #47B1B8;
  font-size: 56px;
  line-height: 62px;
}

.powered-by {
  margin-top: 8px;
  margin-bottom: 0px;
  float: left;
  color: #231f20;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
}

.image-polkadot {
  height: 32px;
  margin-left: 10px;
}

.section-why {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eff9ff;
}

.heading-section {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 56px;
}

.heading-section.light {
  color: #fff;
}

.paragraph-main {
  margin-bottom: 30px;
  font-size: 23px;
  line-height: 38px;
}

.subheading-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.subheading {
  color: #327b81;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subheading.light {
  color: #fff;
}

.subheading-line {
  width: 80px;
  height: 2px;
  margin-right: 10px;
  background-color: #327b81;
}

.subheading-line.light {
  background-color: #fff;
}

.section-nodes {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.sectionbg-nodes {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#327b81), to(#47B1B8));
  background-image: linear-gradient(180deg, #327b81, #47B1B8);
}

.block-single1 {
  position: absolute;
  left: 58%;
  top: 11%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.block-single2 {
  position: absolute;
  left: 79%;
  top: 36%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.background-nodes {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url('../images/node-graphic.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.gradient-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 189, 231, 0)), to(#327b81));
  background-image: linear-gradient(180deg, rgba(22, 189, 231, 0), #327b81);
}

.section-polkadot {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.gradient-overlay-white {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
}

.polka-pink {
  color: #e81585;
}

.polka-black {
  color: #231f20;
}

.extra {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e6007a;
  border-radius: 100%;
  background-color: #e6007a;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.section-randomness {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eff9ff;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.grid-randomness {
  grid-column-gap: 48px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-what {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eff9ff;
}

.grid-what {
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-what {
  margin-top: 0px;
}

.box-what {
  padding: 36px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(40, 133, 208, 0.15);
  text-align: center;
}

.paragraph-small {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 30px;
}

.use-case {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #327b81;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.image-dice1 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  -webkit-transform: translate3d(0px, 0px, 5px);
  transform: translate3d(0px, 0px, 5px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wrapper-dice {
  position: relative;
}

.image-dice2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 9%;
  bottom: 5%;
  -webkit-transform: translate3d(0px, 0px, 5px);
  transform: translate3d(0px, 0px, 5px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wrapper-dicebg {
  position: relative;
}

.dice-bg1 {
  position: absolute;
  opacity: 0.8;
  -webkit-transform: translate3d(0px, 0px, -100px);
  transform: translate3d(0px, 0px, -100px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dice-bg2 {
  position: absolute;
  -webkit-transform: translate3d(0px, 0px, -200px);
  transform: translate3d(0px, 0px, -200px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dice-bg3 {
  position: absolute;
  -webkit-transform: translate3d(0px, 0px, -300px);
  transform: translate3d(0px, 0px, -300px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dice-mobile {
  display: none;
}

.section-features {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.what-line {
  width: 80px;
  height: 2px;
  margin: 10px auto;
  background-color: #327b81;
}

.grid-features {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.feature-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-feature {
  width: 100px;
  margin-top: 8px;
  margin-right: 20px;
}

.feature-span {
  font-weight: 600;
}

.container-polkadot {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  cursor: none;
}

.section-faq {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  min-height: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.faq-left {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  width: 40%;
}

.faq-right {
  width: 60%;
}

.container-faq {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.faq-item-wrapper {
  margin-bottom: 20px;
}

.faq-question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.faq-question-label {
  background-color: transparent;
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  text-decoration: none;
}

.faq-arrow {
  position: relative;
  z-index: 0;
}

.faq-answer {
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
}

.paragraph-answer {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 30px;
}

.menu-faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-faq {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: rgba(89, 96, 101, 0.65);
  text-decoration: none;
}

.link-faq:hover {
  color: #596065;
}

.link-faq.w--current {
  display: block;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  color: #596065;
}

.button-faq {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: transparent;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: rgba(89, 96, 101, 0.65);
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #596065;
}

.nav-link.w--current {
  color: #596065;
}

.nav-link.w--open {
  color: #596065;
}

.section-roadmap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eff9ff;
}

.timeline-line {
  width: 42px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #327b81;
}

.link-timeline {
  color: #327b81;
  text-decoration: none;
}

.heading-timeline {
  margin-top: 0px;
}

.process-block {
  position: relative;
  padding: 32px;
  border-radius: 10px;
  background-color: #fff;
  background-image: none;
  box-shadow: 0 8px 20px 0 rgba(40, 133, 208, 0.15);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.process-block:hover {
  box-shadow: 0 8px 20px 0 rgba(40, 133, 208, 0.25);
}

.process-number-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1px;
  padding-top: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eff9ff;
  -webkit-transform: translate(-50%, -25px);
  -ms-transform: translate(-50%, -25px);
  transform: translate(-50%, -25px);
}

.process-number-wrapper.flipped {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-right: -1px;
  margin-left: 0px;
  -webkit-transform: translate(50%, -25px);
  -ms-transform: translate(50%, -25px);
  transform: translate(50%, -25px);
}

.process-col-left {
  position: relative;
  padding-right: 80px;
}

.process-wrapper {
  width: 100%;
  height: auto;
}

.process-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c7e6f7;
}

.process-dot.progress {
  background-color: #47B1B8;
  box-shadow: 0 0 15px 0 #327b81;
}

.process-number-title {
  margin-top: 0px;
  margin-bottom: 8px;
  padding-right: 5px;
  padding-left: 5px;
  color: #131314;
  font-size: 11px;
  line-height: 14px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.process-triangle {
  position: absolute;
  left: -10px;
  top: 24px;
  right: auto;
  bottom: auto;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.process-triangle.flipped {
  left: auto;
  top: 24px;
  right: -10px;
  bottom: auto;
  background-color: #fff;
}

.process-col-right {
  position: relative;
  padding-left: 80px;
  border-left: 2px dashed #d4e8f4;
}

.process-col-right.last {
  border-left-color: transparent;
}

.process-col-right.progress {
  border-left-color: #47B1B8;
}

.process-row {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.number-timeline {
  margin-bottom: 5px;
  color: #47B1B8;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container-timeline {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.section-cta {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eff9ff;
  background-image: -webkit-gradient(linear, left top, right top, from(#327b81), to(#47B1B8));
  background-image: linear-gradient(90deg, #327b81, #47B1B8);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
}

.section-cta:hover {
  box-shadow: 0 0 20px 8px rgba(22, 189, 231, 0.5);
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.field {
  position: relative;
  height: 60px;
  margin-right: -1px;
  margin-bottom: 0px;
  padding: 20px 25px;
  border-style: none;
  border-width: 1px 1px 2px;
  border-color: #000 #000 #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(40, 133, 208, 0.25);
  color: #fff;
  font-size: 18px;
  line-height: 18px;
}

.field::-webkit-input-placeholder {
  color: #eff9ff;
  font-size: 18px;
  line-height: 100%;
}

.field:-ms-input-placeholder {
  color: #eff9ff;
  font-size: 18px;
  line-height: 100%;
}

.field::-ms-input-placeholder {
  color: #eff9ff;
  font-size: 18px;
  line-height: 100%;
}

.field::placeholder {
  color: #eff9ff;
  font-size: 18px;
  line-height: 100%;
}

.button-submit {
  padding: 20px 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #327b81;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-submit:hover {
  box-shadow: 0 16px 22px 0 #47B1B8;
  text-decoration: none;
}

.button-submit:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.wrapper-cta {
  width: 60%;
}

.block-single3 {
  position: absolute;
  left: 49%;
  top: 11%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.block-single4 {
  position: absolute;
  left: 66%;
  top: 29%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.section-footer {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.45)), to(rgba(255, 255, 255, 0.45))), url('../images/image-tech.png');
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url('../images/image-tech.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.contact-scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.contact {
  margin-right: 60px;
  color: #fff;
  font-size: 132px;
  line-height: 132px;
  font-weight: 600;
}

.contact.process-dot {
  color: #383a21;
}

.contact.red {
  color: #31a3ff;
}

.section-contact {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eff9ff;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.section-contact:hover {
  box-shadow: 0 0 20px 8px rgba(22, 189, 231, 0.5);
}

.div-scroll {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-bottom: -15px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-contact {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #596065;
  text-decoration: none;
}

.circle-mask-top-b2 {
  position: absolute;
  z-index: 10;
}

.arrow-red-b2 {
  width: 77px;
  margin-right: 20px;
  margin-left: 20px;
}

.circle-bg-grey-b2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: none;
}

.circle-wrapper {
  position: relative;
  width: 400px;
}

.arrow-wrapper-b2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 63%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow-grey-b2 {
  width: 77px;
  margin-right: 20px;
  margin-left: 20px;
}

.circle-mask-bottom-red-b2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 11;
  display: none;
}

.circle-mask-top-red-b2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 11;
  display: none;
}

.circle-mask-bottom-b2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 10;
}

.circle-bg-red-b2 {
  position: relative;
  z-index: 1;
}

.footer-centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.logo {
  height: 32px;
  margin-bottom: 20px;
}

.paragraph-light {
  font-size: 15px;
}

.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-link-white {
  display: block;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: rgba(89, 96, 101, 0.5);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link-white:hover {
  color: #596065;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #b1bdc6;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-link.telegram:hover {
  background-color: #00b1e8;
}

.social-link.medium:hover {
  background-color: #efbf34;
}

.social-link.twitter:hover {
  background-color: #3cf;
}

.social-link.github {
  margin-right: 0px;
}

.social-link.github:hover {
  background-color: #35424e;
}

.contact-gradient {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: -webkit-gradient(linear, left top, right top, from(#327b81), to(#47B1B8));
  background-image: linear-gradient(90deg, #327b81, #47B1B8);
  opacity: 0;
}

.div-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.button-lightpaper {
  margin-right: 10px;
  padding: 20px 30px 20px 58px;
  border-style: solid;
  border-width: 1px;
  border-color: #47B1B8;
  border-radius: 10px;
  background-color: #47B1B8;
  background-image: url('../images/icon-lightpaper2.svg');
  background-position: 20% 49%;
  background-size: auto 18px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-lightpaper:hover {
  box-shadow: 0 5px 22px -4px rgba(40, 133, 208, 0.5);
  text-decoration: none;
}

.button-lightpaper:active {
  background-color: #2379bd;
}

.button-docs {
  margin-right: 10px;
  padding: 20px 30px 20px 56px;
  border-style: solid;
  border-width: 1px;
  border-color: #47B1B8;
  border-radius: 10px;
  background-color: #fff;
  background-image: url('../images/icon-docs.svg');
  background-position: 26% 50%;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #47B1B8;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-docs:hover {
  box-shadow: 0 5px 22px -4px rgba(40, 133, 208, 0.5);
  text-decoration: none;
}

.button-docs:active {
  background-color: #eaf6ff;
}

.button-github {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 54px;
  height: 54px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #47B1B8;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button-github:hover {
  box-shadow: 0 6px 22px -4px rgba(40, 133, 208, 0.5);
}

.button-github:active {
  background-color: #eaf6ff;
}

.image {
  width: 22px;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 62px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-logo-mobile {
  display: none;
}

.section-copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.45)), to(rgba(255, 255, 255, 0.45))), url('../images/image-tech.png');
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url('../images/image-tech.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.text-smallest {
  color: rgba(89, 96, 101, 0.65);
  text-align: center;
}

.button-contact {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-
s {
  overflow: hidden;
  background-image: url('../images/bg-website.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.section-investors {
  overflow: hidden;
  background-image: url('../images/bg-website.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.grid-investors {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-investor {
  padding: 30px;
  opacity: 0.65;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.div-investor:hover {
  opacity: 1;
}

.image-investor {
  width: 150px;
}

.logo-row-wrapper {
  display: -ms-grid;
  display: grid;
  height: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 99px;
  grid-row-gap: 130px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-transform: translate(-2500px, 0px);
  -ms-transform: translate(-2500px, 0px);
  transform: translate(-2500px, 0px);
}

.logo-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3400px;
  height: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-image {
  width: 150px;
}

.logo-image.hyper {
  display: none;
}

.flex-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button-twitter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 54px;
  height: 54px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #47B1B8;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button-twitter:hover {
  box-shadow: 0 6px 22px -4px rgba(40, 133, 208, 0.5);
}

.button-twitter:active {
  background-color: #eaf6ff;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .section-hero {
    min-height: 100vh;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-main {
    font-size: 36px;
    line-height: 42px;
  }

  .heading-section {
    font-size: 36px;
    line-height: 42px;
  }

  .paragraph-main {
    font-size: 18px;
    line-height: 30px;
  }

  .background-nodes {
    background-position: 0% 50%;
  }

  .grid-what {
    grid-column-gap: 16px;
  }

  .box-what {
    padding: 24px;
  }

  .image-dice1 {
    display: none;
  }

  .image-dice2 {
    display: none;
  }

  .wrapper-dicebg {
    display: none;
  }

  .dice-mobile {
    display: block;
  }

  .grid-features {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .image-feature {
    width: 64px;
  }

  .container-polkadot {
    padding-right: 20px;
    padding-left: 20px;
  }

  .faq-left {
    position: static;
    width: 100%;
  }

  .faq-right {
    width: 100%;
  }

  .container-faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .faq-item-wrapper {
    position: static;
    z-index: 8888;
  }

  .faq-question {
    padding-right: 20px;
    padding-left: 20px;
  }

  .faq-arrow {
    position: relative;
    z-index: 0;
  }

  .menu-faq {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .link-faq {
    padding-right: 20px;
    padding-left: 20px;
  }

  .process-number-wrapper.flipped {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .process-col-left {
    padding-right: 0px;
    padding-left: 80px;
    border-left: 2px dashed #d4d6df;
  }

  .process-col-left.progress {
    border-left-color: #47B1B8;
  }

  .process-triangle.flipped {
    left: -10px;
    top: 32px;
    right: auto;
    bottom: auto;
  }

  .process-row {
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-timeline {
    padding-right: 20px;
    padding-left: 80px;
  }

  .wrapper-cta {
    width: 100%;
  }

  .nav-menu {
    background-color: #fff;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .icon {
    color: #464e54;
  }
}

@media screen and (max-width: 767px) {
  .powered-by {
    font-size: 18px;
  }

  .image-polkadot {
    height: 26px;
  }

  .paragraph-main {
    font-size: 16px;
    line-height: 26px;
  }

  .grid-randomness {
    grid-column-gap: 0px;
    grid-row-gap: 46px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid-what {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .paragraph-small {
    font-size: 16px;
    line-height: 26px;
  }

  .grid-features {
    grid-column-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .faq-question {
    padding-right: 20px;
  }

  .faq-question-label {
    font-size: 16px;
    line-height: 24px;
  }

  .paragraph-answer {
    font-size: 16px;
    line-height: 26px;
  }

  .process-block {
    padding: 24px;
  }

  .process-col-left {
    padding-left: 60px;
  }

  .process-col-right {
    padding-left: 60px;
  }

  .container-timeline {
    padding-left: 56px;
  }

  .logo {
    height: 26px;
  }

  .image-logo {
    display: none;
  }

  .image-logo-mobile {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .feature-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-feature {
    margin-bottom: 20px;
  }

  .menu-faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .process-number-wrapper {
    left: 4px;
  }

  .process-triangle {
    top: 25px;
  }

  .process-row {
    padding-bottom: 10px;
  }

  .container-timeline {
    padding-right: 10px;
    padding-left: 40px;
  }

  .field {
    margin-right: 0px;
    font-size: 18px;
    line-height: 18px;
  }

  .field::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 18px;
  }

  .field:-ms-input-placeholder {
    font-size: 18px;
    line-height: 18px;
  }

  .field::-ms-input-placeholder {
    font-size: 18px;
    line-height: 18px;
  }

  .field::placeholder {
    font-size: 18px;
    line-height: 18px;
  }

  .button-submit {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }

  .footer-wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .div-buttons {
    display: block;
  }

  .button-lightpaper {
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    text-align: center;
  }

  .button-docs {
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    text-align: center;
  }

  .grid-investors {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 991px) {
  #w-node-fc27d17f0a8a-b152b974 {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}
.c-form-message {
  padding: 5px;
}
.c-form-message--success {
  color: lightgreen;
}
.c-form-message--error {
  color: darkred;
}
