@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&family=Nunito:wght@200&family=Poppins:wght@100&display=swap');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #303033;font-weight: 600;
  
}
body {
  background: #E5E5E5;
  color: #676767;
  font-weight: 400;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}


.btn-custom {
  background: #0AB3E5;
  border-radius: 50px;
  padding: 10px 40px;
  color: #fff;
  font-weight: 600;
  border:2px solid #0AB3E5;
}
.btn-customr{
  background: #0AB3E5;
  border-radius: 50px;
  padding: 10px 40px;
  color: #fff;
  font-weight: 600;
  border:2px solid #0AB3E5;
}
.btn-customr:hover {
	 background:transparent;
    transition: .3s;
    color: #000;
	border:2px solid #0AB3E5;
}
.btn-custom-outline {
  border:2px solid #0AB3E5;
  border-radius: 50px;
  padding: 10px 40px;
  color: #000;
  font-weight: 600;
}
.btn-no-bg {
  background: transparent;
  color: #0AB3E5;
}
.btn:hover {
    color: #fff;
}
.btn-custom-outline:hover {
    background: #0AB3E5;
    transition: .3s;
    color: #000;
}
.btn-custom:hover {
    background: transparent;
	border:2px solid #0AB3E5;
    transition: .3s;
    color: #fff;
}
.color_white {
  color: #fff;
}
.color_white li {
  padding: 0px 10px;
}
.color_white a {
  color: #fff;
}
.color_gren {
  color: #20E2B0;
}
.lowfi {
  color: #54585C;
  letter-spacing: 5px;
  padding: 0px;
  text-transform: capitalize;
}
.font_w {
  font-weight: 800;
  padding: 0px;
  margin: -15px 0 0;
}
.card {
  border-radius: 1.5rem;
  overflow: hidden;
}
/* Header area css start  */
.dark-custom {
  background:transparent ;
}

/* Hero banner */
.hero_banner {
  width: 100%;
  position: relative;
  color: #fff;
  min-height: 900px;
}
.banner_bg_img {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 800px;
  z-index: -1;
  display: block;
}
.hero_banner h1 {
font-weight: 900;
color: #fff;

}
.video_ing img {
  padding-left: 130px;;
}
.box_group {
  width: 100%;
  min-height: 250px;
  position: relative;
  left: 0;
  margin-left:-20px;
  clear: both;
}

.box {
  width: 32%;
  min-height: 250px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.box_group_2 {
  margin-left: 30px;
}
.coming_nft {
  width: 100%;
  min-height: 550px;
  margin-top: 200px;
}
/* Header area css end  */
/*Vera for every one*/
.vera_sec {
  width: 100%;
  min-height: 850px;
  position: relative;
 top: 70px;
 clear: both;
 background: #05141c;
}
.vera_sec h2{
  font-weight: 800;
}
.banner_bg {
  position: absolute;
  z-index: -1;
  top: -92px;
}
.coin_img {
  position: absolute;
  right: 20%;
  bottom: 45%;
}
.txt_box {
  color: #fff;
  padding: 0px 40px;
  margin-top: 100px;
}
.txt_box h3 {
  font-weight: 800;
  color: #fff;
}
.ecosystem {
  margin-top: 160px;
}
.globad {
  width: 100%;
  min-height: 550px;
  background: #071B27;
  margin-top: 150px;
  color: #fff;
}
button.no_bg.collapsed:hover {
  color:#0AB3E5;
}
.text-right{
	float:right;
}
p.faq_select:hover {
    color: #0AB3E5;
	transition:.3s;
}
.border_b {
    width: 100%;
    height: 1px;
    background: #CCCCD1;
    display: inherit;
}
.card-body {
background: transparent;  
}
.box img {
  width: 100%;
}
.faq {
  width: 100%;
  min-height: 550px;
  margin-top: 150px;
}
button.no_bg {
  border: none;
  background: transparent;

}
.card {
  border: none;
}
.footer {
  width: 100%;
  min-height: 390px;
  background: #05161F;
  color: #fff;
  padding: 100px 0px 0px;
}
.footer h3 {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}
.soial_media {
  display: inline-block;
}
ul.soial_media {
  margin: 0;
  padding: 0;
}
ul.soial_media li {
  display: inline-block;
  padding: 0;
  margin-right: 5px;
  margin-left: 0;
}
.menu_btm {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
ul.menu_btm li {
  list-style: none;
  padding: 5px 0;
}
ul.menu_btm li a {
  text-decoration: none;
 color: #fff;
}
.footer p {
  font-size: 16px;
  color: #6e6e6e;
}

