@-webkit-keyframes logo {
    0% {
        transform: translate3d(0, 0, 0)
    }
    50% {
        transform: translate3d(0, 2px, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes logo {
    0% {
        transform: translate3d(0, 0, 0)
    }
    50% {
        transform: translate3d(0, 2px, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes svg-mainlist {
    0% {
        width:0px;
    }
    100% {
        width:150px;
    }

}

@keyframes svg-mainlist {
    0% {
        width:0px;
    }
    100% {
        width:150px;      
    }
}


@-webkit-keyframes rotates {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    50% {
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);    
    }
    100% {
      -webkit-transform:rotate(360deg);
      transform:rotate(360deg);
    }

}

@keyframes rotates {
  0% {
      -webkit-transform:rotate(0deg);
      transform:rotate(0deg);
  }
  50% {
      -webkit-transform:rotate(90deg);
      transform:rotate(90deg);    
  }
  100% {
      -webkit-transform:rotate(360deg);
      transform:rotate(360deg);
  }
}


@-webkit-keyframes sizing {
    0% {
        width:90%;
        height:90%;
    }
    100% {
        width:50%;
        height:50%;
    }

}

@keyframes sizing {
  0% {
      width:90%;
      height:90%;
  }
  100% {
      width:50%;
      height:50%;
  }
}


@-webkit-keyframes lend {
  0% {
      height:0%;
  }
  100% {
      height:100%;
  }


}

@keyframes lend {
  0% {
      height:0%;
  }
  100% {
      height:100%;
  }
}



@-webkit-keyframes stake {
  0% {
      -webkit-transform:rotate(0deg) scale(0);
      transform:rotate(0deg) scale(0);
  }

  50% {
    -webkit-transform:rotate(90deg) scale(1);
    transform:rotate(90deg) scale(1);
  }

  100% {
    -webkit-transform:rotate(360deg) scale(0.95);
    transform:rotate(360deg) scale(0.95);
  }
}

@keyframes stake {
  0% {
      -webkit-transform:rotate(0deg) scale(0);
      transform:rotate(0deg) scale(0);
  }
  50% {
  -webkit-transform:rotate(90deg) scale(1);
    transform:rotate(90deg) scale(1);
  }
  100% {
    -webkit-transform:rotate(360deg) scale(0.95);
    transform:rotate(360deg) scale(0.95);
  }
}

@-webkit-keyframes double {
   0% {
      -webkit-transform:rotate(0deg) scale(0);
      transform:rotate(0deg) scale(0);
  }
  100% {
    -webkit-transform:rotate(360deg) scale(0.95);
    transform:rotate(360deg) scale(0.95);
  } 
}
@keyframes double {
  0% {
      -webkit-transform:rotate(0deg) scale(0);
      transform:rotate(0deg) scale(0);
  }
  100% {
    -webkit-transform:rotate(360deg) scale(0.95);
    transform:rotate(360deg) scale(0.95);
  }
}


@-webkit-keyframes rotateText {
    0% {
        transform: translate3d(0, 0, 0)
    }
    25% {
        transform: translate3d(0, -70px, 0)
    }
    50% {
        transform: translate3d(0, -70px, 0)
    }    
    75% {
      transform: translate3d(0, -70px, 0)
    }
    100% {
      transform: translate3d(0, -70px, 0)     
    }
    
}

@keyframes rotateText {
    0% {
        transform: translate3d(0, 0, 0)
    }
    25% {
        transform: translate3d(0, -70px, 0)
    }
    50% {
        transform: translate3d(0, -70px, 0)
    }    
    75% {
      transform: translate3d(0, -70px, 0)
    }
    100% {
      transform: translate3d(0, -70px, 0)     
    }
}


@-webkit-keyframes rotateText {
    0% {
        transform: translate3d(0, 0, 0)
    }
    25% {
        transform: translate3d(0, -70px, 0)
    }
    50% {
        transform: translate3d(0, -70px, 0)
    }    
    75% {
      transform: translate3d(0, -70px, 0)
    }
    100% {
      transform: translate3d(0, -70px, 0)     
    }
    
}

@keyframes closecandle {
    0% {
      bottom:-1px; height:75px; right:-20px; width:79px; transform: rotate(-180deg);
    } 

    50% {
      bottom:-1px; right:-20px; height:60px; width:60px; transform: rotate(-60deg);
    }  

    100% {
      bottom:-1px; right:0px; height:15px; width:30px; transform: rotate(0deg);
    }
}
@-webkit-keyframes closecandle {
    0% {
      bottom:-1px; height:75px; right:-20px; width:79px; transform: rotate(-180deg);
    } 

    50% {
      bottom:-1px; right:-20px; height:60px; width:60px; transform: rotate(-60deg);
    }  

    100% {
      bottom:-1px; right:0px; height:15px; width:30px; transform: rotate(0deg);
    }
}

@keyframes candleBase{
    0% {
      height:0px;
    } 
    100% {
      height:43px;
    }  
}

@-webkit-keyframes candleBase {
    0% {
      height:0px;
    } 
    100% {
      height:43px;
    }
}


%logo {
  -webkit-animation-name: logo;
  animation-name: logo;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1
}

%svg-mainlist {
  -webkit-animation-name: svg-mainlist;
  animation-name: svg-mainlist;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1
}

%lend{
  -webkit-animation-name: lend;
  animation-name: lend;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

#bg {
  left:0px;
  top:0px;
  position:absolute;
  z-index: 0;

  @for $i from 1 through 20 {
    @keyframes bg-animation-#{$i} {
      0% {
        transform: translate3d((random(90) * 1vw), (random(90) * 0.25vw), (random(90) * 0.25vw)) rotate(0deg);
      }
      100% {
        transform: translate3d((random(90) * 1vw), (random(90) * 0.25vw), (random(90) * 0.25vw)) rotate(360deg);
      }
    }
    $size: random(10) + 10 + px;

    @include opacity(random(100) / 100);


    .bg:nth-child(#{$i}) {
      animation: bg-animation-#{$i} 60s infinite;
      animation-delay: -$i * .2s;
    }
    
    .circle:nth-child(#{$i}) {
      height: $size;
      width: $size;
      background: $green;
      border-radius: 50%;
    }
    

    
    .triangle:nth-child(#{$i}) {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid $pink;
    }
  }
}



.svg {
  &.mainlist {
    display:inline-block;
    height:150px;
    margin-top:25px;
    margin-left:25px;
    transform:rotate(-45deg);
     @include mobile {
        margin-bottom:50px;
        transform:rotate(-45deg) scale(0.6);
        margin-left:0px;
      }     
    span {
      position:absolute;
      width:150px;
      height:2px;
      display:block;
      background:$pink; 
   
      @extend %svg-mainlist;
      -webkit-transition: width 0.5s cubic-bezier(.445, .05, .55, .95);
        transition: width 0.5s cubic-bezier(.445, .05, .55, .95);      
      &:first-of-type{
        left:-39px;
        -webkit-animation-delay: -.1s; animation-delay: -.1s;
        + span {
          top:37px; right:-50px;
          -webkit-animation-delay: -.1s; animation-delay: -.1s;
          background:$green;
          + span {
            top:74px; left:-56px;
            background:$white;
            -webkit-animation-delay: -.1s; animation-delay: -.1s;
            + span {
              top:111px; right:-20px;
              -webkit-animation-delay: -.1s; animation-delay: -.1s;
              + span {
                top:148px; left:-47px;
                background:$green;
                -webkit-animation-delay: -.1s; animation-delay: -.1s;
                + span {
                  top:185px; right:-25px;
                  background:$white;
                  -webkit-animation-delay: -.1s; animation-delay: -.1s;
                }                    
              }                  
            }            
          }
        }
      }    
    }
  }
  &.rounds {
    display:inline-block;
    position:relative;
      @include tablet {
        margin-bottom:50px;
      }
      @include mobile {
        margin-bottom:25px;
      }
    img {
      max-width:100%;
      width:335px;
      height:335px;
      @include mobile {
        width:250px;
        height:250px;
      }

    }
    > div {
      top:0px;
      left:0px;
      position:absolute;
      width:100%;
      height:100%;
      @extend %centerXY;
      background:transparent;
      border:3px dashed $bg;
      @include radius(50%);
      -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
      -webkit-animation-name: rotates;
      animation-name: rotates;
      -webkit-animation-duration: 0s;
      animation-duration: 10s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;   
      + div {
        left:5%;
        top:5%;
        width:90%;
        height:90%;
        border-color:$pink;
         
      }
    }
    &__second {

    }
  }

  &.lend {
    position:relative;
    display:block;
    margin:0px auto;
    width:88px;
    height:88px;
    text-align:center;
    margin-bottom:50px;
    overflow:hidden;
    span {
      bottom:0px;
      position:absolute;
      left:0px;
      vertical-align:bottom;
      border-top-left-radius:5px;
      border-top-right-radius:5px;
      display:inline-block;
      margin:0px 1px;
      width:27px;
      height:0%;
      background:$green;
      + span {
        left:29px;
        bottom:-20%;
        height:0%;
          -webkit-animation-delay: -.2s; animation-delay: -.2s;
        + span {
          bottom:-50%;
          left:58px;
          height:0%;
          -webkit-animation-delay: -.4s; animation-delay: -.4s;
        }
      }
    }
    &.visible {
      span {
        @extend %lend;
      }
    }
  }


}
.svg.stake {
    position:relative;
    width:110px;
    height:110px;
    display:block;
    margin:0px auto;
    margin-bottom:35px;
    &.visible {
      .dot {
        @include opacity(1);
      }
      .stake__container {
        -webkit-animation-name: stake;
        animation-name: stake;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
        animation-timing-function: cubic-bezier(.445, .05, .55, .95);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;          
      }
    }
    .dot {
      position:absolute;
      display:block;
      width:40px;
      height:40px;
      background:$green;
      @include radius(50%);
      position:absolute;      
      @extend %centerXY;
      @include opacity(0);
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;   
    }
    .stake__container {
      -webkit-transform:rotate(0deg) scale(0);
      transform:rotate(0deg) scale(0);
      margin-top: -50%;
      margin-left: -50%;
      display:block;
      @extend %centerXY;
      position:absolute;
      width:110px;
      height:110px;   
      
     
      span {
        display:block;
        width:20px;
        height:20px;
        background:$green;
        @include radius(50%);
        position:absolute;
        &:first-of-type {
          width: 15px;
          height: 15px;
          left: 15px;
          bottom: 15px;
          + span {
            @extend %centerY;
              width:20px;
              height:20px;               
            + span {
              top:15px;
              left:15px; 
              width:15px;
              height:15px;
              + span {
                @extend %centerX;
                top:0px;
                left:50%;
                + span {
                  width:15px;
                  height:15px;                
                  right:15px;
                  top:15px;
                  + span {
                    @extend %centerY;
                    right:0px;
                    + span {
                      width:15px;
                      height:15px;
                      bottom:15px;
                      right:15px;
                      + span {
                        bottom:0px;
                        @extend %centerX;
                        left:50%;
                        + span {
                          width:15px;
                          height:15px;                        
                          left:15px;
                          bottom:15px;

                        }
                      }
                    }
                  }
                }
              }      
            }          
          }
        }
      }
    }
  }
.padlock {
    width: 63px;
    height: 90px;
    margin: 0px auto 20px auto;
    &__container {
      display:block;
      position:relative;
      width: 63px;
      height: 90px;
      .padlock__box {
        display: block;
        width: 63px;
        height: 47px;
        overflow: hidden;
        position: relative;

        &__candlehide {
          width: 30px;
          background: $bg;
          display: block;
          height: 14px;
          position: absolute;
          z-index: 3;
          right: 0px;
          bottom: 0px;

          bottom:-1px; height:75px; right:-20px; width:79px; transform: rotate(-180deg);
          @include radius(10px);
         
        }

        &__candle {
          width: 44px;
          height: 45px;
          background: $green;
          display: block;
          top: 8px;
          position: absolute;
          left: 10px;
          border-top-right-radius: 25px;
          border-top-left-radius: 25px;
        }
        &__shadow {
          width: 22px;
          height: 32px;
          background: $bg;
          display: block;
          top: 19px;
          position: absolute;
          left: 21px;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
        }
      }
      .bg {
        position: absolute;
        width: 63px;
        height: 0px;
        left: 0px;
        bottom: 0px;
        background: $green;
      }
    }
    &.visible {
      .padlock__box__candlehide {
           animation-delay: 1s;
          -webkit-animation-name: closecandle;
          animation-name: closecandle;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;  
          animation-fill-mode: forwards; 
      }
      .padlock__container .bg {
          -webkit-animation-name: candleBase;
          animation-name: candleBase;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;  
          animation-fill-mode: forwards; 
      }
      
    }
}

.svg.double {
  position:relative;
  margin:0px auto;
  display:block;
  width:80px;
  height:120px;

  @include mobile {
    top:20px;
  }

  transform:scale(0);
    &.visible {
       -webkit-animation-name: stake;
      animation-name: stake;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
      animation-timing-function: cubic-bezier(.445, .05, .55, .95);
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;        
    }

  .circleone , .circletwo {
    display:block;
    position:absolute;
    @extend %centerXY;
    width:75px;
    height:75px;
    background:$green;
    @include radius(50%);
  }
  .circletwo {
    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 15px;
      height: 55px;
      left: 30px;
      background: $bg;
      top: 48px;
      border-radius: 50px;
    }
    margin-top: -50px;
    border: 6px solid #1b1c1d;
  }
}






  body{
  margin:0px;
  padding:0px;
  font-family:sans-serif;
}

a:hover,a:active{
  text-decoration:none;
}
.home{
  width:100%;
}
.home:before{
  content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
}
.home h3{
  position:absolute;
  font-size:74px;
  text-align: left;
    color:#009393;
  margin-left:15%;
  font-weight:700;
}


.main__content__title__rotate {
  display:block;
  overflow:hidden;
  position:relative;
  height: 62px;
  @include desktop {height:55px; }
  @include mobile {height:42px;}
  margin-top:5px;
  width: 230px;
    -webkit-transition: width 0.25s linear;
      transition: width 0.25s linear;   
  + span {
    margin-top:-12px;
  }
  &.staking, &.lending, &.borrowing {
    span {
      -webkit-transition: width 3s linear;
      transition: width 3s linear; 
    }
  }

  &.staking {
    b {
      color:$pink;
    }
    span {
      &:first-of-type{
        top:-115px;
        @include desktop {top:-100px; }
        + span {
          top:-47px;
          + span {
            top:-50px;
          }
        }
      }
    }
  }

  &.lending {
    b {
      color:$green;
    }
    width:240px;
    span {
      &:first-of-type{
        top:-195px;
        + span {
          top:-115px;
          @include desktop {top:-110px; }
          + span {
            top:-50px;
          }
        }
      }
    }
  }
  &.borrowing {
    width:320px;
    span {
      &:first-of-type{
        top:-265px;
        + span {
          top:-197px;
            @include desktop {top:-170px; }
          + span {
            top:-112px;
          }
        }

      }
    }    
  }
          
  
    
   
  span {
    display:block;
    position:absolute;
    &:first-of-type{
      -webkit-animation-name: rotateText;
      animation-name: rotateUp;
      -webkit-animation-duration: 9s;
      animation-duration: 9s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;  
      animation-fill-mode: forwards;    


       b {
        top:170px;
        @include desktop {top:160px; }

        position:absolute;
        -webkit-animation-name: rotateText;
        animation-name: rotateText;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;  
        animation-fill-mode: forwards;
        &:first-of-type {
          -webkit-animation-delay: 0s; animation-delay: 0s;
          + b {
            left:40px;
            @include desktop {left:32px; }
            @include mobile {left:29px;}
            -webkit-animation-delay: .1s; animation-delay: .1s;
            + b {
              left:60px;
                @include desktop {left:48px; }
                @include mobile {left:43px;}
               -webkit-animation-delay: .2s; animation-delay: .2s;
              + b {
                left:95px;
                @include desktop {left:76px; }
                @include mobile {left:68px;}
                 -webkit-animation-delay: .3s; animation-delay: .3s;
                + b {
                  left:128px;
                   @include desktop {left:102px; }
                   @include mobile {left:89px;}
                   -webkit-animation-delay: .4s; animation-delay: .4s;
                  + b {
                    left:143px;
                    @include desktop {left:114px; }
                    @include mobile {left:99px;}
                     -webkit-animation-delay: .5s; animation-delay: .5s;
                    + b {
                      left:180px;
                      @include desktop {left:144px; }
                       @include mobile {left:123px;}
                       -webkit-animation-delay: .6s; animation-delay: .6s;
                    }
                  }                
                }
              }
            }
          }
        }   
      }    
      + span {
        b {
          top:170px;
          position:absolute;
          -webkit-animation-name: rotateText;
          animation-name: rotateText;
          -webkit-animation-duration: 3s;
          animation-duration: 3s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;  
          animation-fill-mode: forwards;
          &:first-of-type {
            -webkit-animation-delay: 0s; animation-delay: 0s;
            + b {
              left:34px;
               @include desktop {left:28px; }
               @include mobile {left:22px; }
              -webkit-animation-delay: .1s; animation-delay: .1s;
              + b {
                left:69px;
                  @include desktop {left:57px; }
                   @include mobile {left:44px; }
                 -webkit-animation-delay: .2s; animation-delay: .2s;
                + b {
                  left:104px;
                  @include desktop {left:85px; }
                    @include mobile {left:67px; }
                   -webkit-animation-delay: .3s; animation-delay: .3s;
                  + b {
                    left:140px;
                    @include desktop {left:113px; }
                     @include mobile {left:90px; }
                     -webkit-animation-delay: .4s; animation-delay: .4s;
                    + b {
                      left:153px;
                      @include desktop {left:124px; }
                      @include mobile {left:99px; }
                       -webkit-animation-delay: .5s; animation-delay: .5s;
                      + b {
                        left:190px;
                        @include desktop {left:153px; }
                        @include mobile {left:121px; }
                         -webkit-animation-delay: .6s; animation-delay: .6s;
                      }
                    }                
                  }
                }
              }
            }
          }             
        }
        + span {
          b {
            top:170px;
            position:absolute;
            -webkit-animation-name: rotateText;
            animation-name: rotateText;
            -webkit-animation-duration: 3s;
            animation-duration: 3s;
            -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
            animation-timing-function: cubic-bezier(.445, .05, .55, .95);
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;  
            animation-fill-mode: forwards;
            &:first-of-type {
              -webkit-animation-delay: 0s; animation-delay: 0s;
              + b {
                left:43px;
                 @include desktop {left:35px; }
                 @include mobile {left:27px; }
                -webkit-animation-delay: .1s; animation-delay: .1s;
                + b {
                  left:81px;
                  @include desktop {left:65px; }
                  @include mobile {left:50px; }
                   -webkit-animation-delay: .2s; animation-delay: .2s;
                  + b {
                    left:106px;
                    @include desktop {left:85px; }
                     @include mobile {left:66px; }
                     -webkit-animation-delay: .3s; animation-delay: .3s;
                    + b {
                      left:131px;
                      @include desktop {left:103px; }
                      @include mobile {left:82px; }
                       -webkit-animation-delay: .4s; animation-delay: .4s;
                      + b {
                        left:167px;
                        @include desktop {left:133px; }
                         @include mobile {left:106px; }
                         -webkit-animation-delay: .5s; animation-delay: .5s;
                        + b {
                          left:214px;
                          @include desktop {left:170px; }
                          @include mobile {left:137px; }
                           -webkit-animation-delay: .6s; animation-delay: .6s;
                           + b {
                              left:230px;
                              @include desktop {left:182px; }
                              @include mobile {left:147px; }
                              -webkit-animation-delay: .6s; animation-delay: .6s;
                               + b {
                                  left:270px;
                                  @include desktop {left:210px; }
                                  @include mobile {left:171px; }
                                  -webkit-animation-delay: .6s; animation-delay: .6s;
                               }
                           }
                        }
                      }                
                    }
                  }
                }
              }
            }             
          }          
        }
      } 
    }

    + span {
      top:150px;
      + span {
        top:225px;
      }
    }
  }
}