@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

//older font sizes/
//$title 	: 68px;
//$stitle : 40px;
//$text  	: 27px;
//$link  	: 20px;

$title 	: 62px;
$stitle : 36px;
$text  	: 25px;
$link  	: 18px;


//alignament
$center : center;
$left   : left;
$right  : right;


.center {
	text-align:$center;
}
.right {
	text-align:$right;
}
.left {
	text-align:left;
}

body {
	font-family: 'DM Sans', sans-serif;
	line-height:1.3;
}

h1,h2 {
	font-size:$title;
	@include desktop {
		font-size:50px;
	}	
	@include mobile {
		font-size:40px;
	}
	@include mobiles {
		font-size:35px;
	}
}
h3 {
	font-size:$stitle;
	@include desktop {
		font-size:29px;
	}		
	@include mobile {
		font-size:25px;
	}		
}

p {
	font-size:$text;
	@include desktop {
		font-size:20px;
	}		
	@include mobile {
		font-size:17px;
	}	
}

ul li a {
	font-size:$link;
	@include desktop {
		font-size:15px;
	}	
	@include mobile {
		font-size:13px;
	}
}
